@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Garden Notes</h1>
    <p class="lead">This app allows you track your garden's progress and make notes for future changes.</p>
</div>

