@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Grden Notes</h1>
    <p class="lead">This app allows you track your garden's progress and make notes for future changes.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

